@import '../../../app/variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: $font-bold;
    margin: 1rem auto;
    width: 50%;

    & .label {
        flex: 1 0 50%;
        text-align: right;
        padding-right: 0.4rem;
    }

    & .option {
        flex: 1 0 50%;
        padding: 0.3rem 0.6rem;
        height: 4rem;
        text-align: center;
        font-family: $font-basic;
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
        background-color: $color-pink;
        color: $color-button-white;
        border-radius: 1.5rem;
        border: none;
        outline: none;
    }
}