@import '../../../app/variables.scss';

.diaries-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .diaries-block {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
    }

    .header {
        align-self: center;
        margin: 2rem 0;
        font-weight: 400;
        font-size: 3.5rem;
        letter-spacing: 0.3rem;
        font-family: $font-accent;
        color: $color-dark;
    }

    .statistics-btn {
        align-self: flex-end;
    }
}