@import '../../../app/variables.scss';

.main {
    @include page-layout;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem auto;

    .active {
        border: 0.4rem solid;
    }
}