@import '../../../app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    width: 100%;
    @include page-layout;

    & .recipes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}