@import '../../../app/variables.scss';

.main-container {
    min-width: 100%;
    margin: 2rem auto;
    padding: 5.8rem;
    font-family: $font-basic;
    background-color: $color-button-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 1rem;

    & .pin {
        position: absolute;
        top: -2rem;
        right: 0;
    }

    & .title {
        font-size: 4rem;
        color: $color-pink;
        font-weight: 300;
        font-family: $font-accent;
        text-align: center;
    }

    & .instructions {
        padding: 2rem 6rem;
        border-radius: 1rem;
        background-color: $color-font-green;
        color: $color-button-white;
        margin: 2rem;

        & .instruction-item {
            font-size: 1.6rem;
            text-align: justify;
            word-spacing: 0.9rem;
            margin: 1rem 0;
        }
    }

    & .time {
        display: flex;
        gap: 0.7rem;
        align-items: normal;
        font-size: 2rem;
        font-weight: 700;
    }

    & .minutes {
        color: $color-font-green;
    }

    & .image-container {
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
        overflow: hidden;
        margin: 1rem;
        padding: 1rem;

        & .image {
            
        }
    }

    & .ingredients-container {
        text-align: center;
        margin: 2rem 0;
        text-transform: uppercase;
    }
}
