@import '../../../app/variables.scss';

.no-diary-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .img {
        margin-top: 2rem;
    }

    .text {
        color: $color-dark;
        font-size: 2rem;
        padding: 2rem;

        top: 0;
    }
}