@import '../../../../app/variables.scss';

.main {
    @include page-layout;
    display: flex;
    flex-direction: column;

    .chart-wrapper {
        padding: 2rem 0;
    }

    .selected-chart-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-container {
            display: flex;
            align-items: center;
            margin-bottom: 5rem;
        }
    }
}