@import '../../../app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .component-container {
        min-height: 50rem;
    }

    .active-btn {
        font-weight: 600;
        background-color: $color-pink;
    }
}
