@import '../../../app/variables.scss';

.main {
    @include page-layout;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .btn-back {
        align-self: flex-start;
    }
}