@import '../../../app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    background-color: $color-button-white;
    border: 1px solid $color-border-grey;
    box-shadow: 8px 8px 20px -24px $color-dark;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;

    .img-pin {
        position: absolute;
        top: -2rem;
        right: 0;
    }

    .data-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 2rem;
        width: 100%;

        .diary-container {
            padding: 2rem;
            width: 100%;
            flex-basis: auto;
            display: flex;
            align-items: center;
            @include dotted-borders;

            .meals-container {
                width: 70%;
            }

            .infos-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.4rem;
            }
        }
    }
    
    .delete-btn {
        background-color: $color-button-white;
        color: $color-font-green;
        border: 0.2rem solid $color-font-green;
        font-weight: 600;
    }
}

.short-main {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    background-color: $color-button-white;
    border: 1px solid $color-border-grey;
    box-shadow: 8px 8px 20px -24px $color-dark;
    border-radius: 1rem;
    padding: 8rem 2rem;
    font-size: 1.8rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    font-family: $font-bold;
    position: relative;

    .img-pin {
        position: absolute;
        top: -2rem;
        right: 0;
        opacity: 0.85;
        z-index: 2;
        }

    .date {
        position: absolute;
        top: 0;
        right: 0;
    }
}
