@import '../../../../app/variables.scss';

.main {
    margin: 1rem;

    .header {
        @include statistics-header;
    }
    .container {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.7rem;
        padding: 1rem;
        box-shadow: 8px 8px 20px -18px $color-dark;
        @include dotted-borders;
        
        .column {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.3rem;
            text-align: center;

            .date {
                @include statistics-date;
                width: 10rem;
            }
        }
    }
    .summary {
        @include statistics-summary;
    }
}