@import '../../../../app/variables.scss';

.main {
    margin: 1rem;

    .header {
        @include statistics-header;
    }

    .container {
        @include dotted-borders;
        padding: 1rem;
        box-shadow: 8px 8px 20px -18px $color-dark;
    }

    .day-container {
        display: flex;
        gap: 1rem;
        font-size: 1.7rem;
        text-transform: capitalize;

        .date {
            @include statistics-date;
            width: 10rem;
        }

        .low {
            background-color: $color-button-orange;
            @include mood-text;
        }

        .normal {
            background-color: $color-yellow;
            @include mood-text;
        }

        .high {
            background-color: $color-font-green;
            @include mood-text;
        }
    }
}