@import '../../../app/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 48%;
    background-color: $color-button-white;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 8px 8px 20px -24px $color-dark;
    position: relative;

    & .like {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0.8;
    }

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
        border: 3px solid $color-yellow;
    }

    & .title {
        font-size: 2rem;
        color: $color-dark;
        font-weight: 200;
        text-align: center;
        margin: 1rem;
        // text-decoration-color: $color-yellow;
        // text-decoration-line: overline;
        letter-spacing: 0.3rem;
    }
}