@import '../../../app/variables.scss';

.button {
    border: none;
    border-radius: 1.1rem;
    color: $color-button-white;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.3rem;
    word-spacing: 0.2rem;
    font-family: $font-basic;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:hover {
        transform: scale(1.01);
    }

}

.small {
    width: 10rem;
    height: 4rem;
    font-size: 1.1rem;
    background-color: $color-font-green;
}

.medium {
    width: 20rem;
    height: 4rem;
    font-size: 1.7rem;
    background-color: $color-yellow;
}

.large {
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    background-color: $color-button-orange;
}

.empty {
    background-color: none;
}

.disabled {
    opacity: 0.5;
}