@import '../../app/variables.scss';

.header {
    @include page-layout;
    font-size: 1.8rem;
    padding: 5rem 0;
    font-family: $font-bold;

    & .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .link {
            color: $color-font-green;
            text-decoration: none;
            padding-right: 2rem;
        }

        & .active {
            color: $color-pink;
        }

        & .auth {
            color: $color-button-white;
        }

        & .additional-block {
            display: flex;
            gap: 2rem;
            align-items: center;

            & .user-name {
                color: $color-pink;
            }
        }
    }
}