@import '../../../../app/variables.scss';

.food-container {
    @include page-layout;
    display: flex;
    gap: 2rem;

    .btn-container {
    display: flex;

        & .btn {
            align-self: center;
        }
    }

}