@import '../../../app/variables.scss';

.date {
    font-size: 3rem;
    width: fit-content;
    text-align: center;
    margin: 0 auto;

    .container {
        border: none;
        border-radius: 1.1rem;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        background-color: $color-button-white;
        color: $color-font-green;
        font-family: $font-bold;
        box-shadow: 8px 8px 20px -18px $color-dark;

        .day {
            font-size: 4.5rem;
            font-family: $font-accent;
        }
    
        .week-day {
            font-size: 1rem;
            letter-spacing: -0.01rem;
            color: $color-yellow;
        }
    }

    .date-btn {
        color: $color-font-green;
        font-family: $font-bold;
        box-shadow: 8px 8px 20px -18px $color-dark;

        .day {
            font-size: 4.5rem;
            font-family: $font-accent;
        }
    
        .week-day {
            font-size: 1rem;
            letter-spacing: -0.01rem;
            color: $color-yellow;
        }
    }
}