@import '../../../../../app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        @include statistics-header;
    }

    .content {
        width: 100%;
    }
}