@import '../../../../app/variables.scss';

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;

    .meal {
        font-size: 1.4rem;
        width: fit-content;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: $font-bold;
        width: 20%;
        background-color: $color-border-grey;
        color: $color-button-white;
        text-align: center;
        border-radius: 1rem;
    }

    .food {
        width: 60%;
    }

    .time {
        font-size: 1.5rem;
        color: $color-border-grey;
        font-family: $font-bold;
        letter-spacing: 0.6rem;
        width: 10%;
        text-align: center;
    }
}


.container-short {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 1rem;
    margin-bottom: 0.5rem;
    color: $color-border-grey;
    border-bottom: 0.2rem solid $color-border-grey;
    border-bottom-style: dashed;

    .meal {
        background-color: $color-border-grey;
        color: $color-button-white;
        text-align: center;
        border-radius: 1rem;
        width: 50%;
    }

    .time {
        display: flex;
        gap: 0.5rem;
    }
}