@import '../../../app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    width: 100%;
    @include page-layout;

    & .header {
        color: $color-dark;
        font-size: 2.5rem;
        font-family: $font-basic;
        font-weight: 100;
        margin: 2rem 0;
    }

    & .input-container {
        display: flex;
        align-items: center;

        & .input {
            width: 50rem;
        }

        & .clear-btn {
            background-color: $color-button-white;
            color: $color-yellow;
            border: 0.2rem solid $color-yellow;
            font-weight: 600;
        }
    }

    & .recipes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}