* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 0.5rem;
    }
    ::-webkit-scrollbar-track {
        background-color: #cec6c1;
        border-radius: 1rem;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(20, 39, 39);
        border-radius: 1.5rem;
    }
}