@import './variables.scss';

.main {
    min-height: 100vh;
    background-color: rgba(250, 248, 240, 1);
    background-image: linear-gradient(102deg, rgba(250, 248, 240, 1) 0%, rgba(176, 98, 147, 0.28) 94%);
}
