@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@mixin page-layout {
    width: $page-width;
    margin: 0 auto;
    font-family: $font-basic;
};

@mixin statistics-header {
    font-family: $font-accent;
    font-weight: 300;
    color: $color-button-orange;
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0;
}

@mixin statistics-summary {
    padding: 1rem 0;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

@mixin statistics-date {
    color: $color-font-green;
    font-size: 1.7rem;
    font-weight: 600;
}

@mixin mood-text {
    width: 20rem;
    padding: 0 1rem;
    box-shadow: 8px 8px 20px -18px $color-dark;
    border-radius: 0.5rem;
}

@mixin dotted-borders {
    border-left: 3px solid $color-button-orange;
    border-bottom: 3px solid $color-button-orange;
    border-left-style: dotted;
    border-bottom-style: dotted;
    border-bottom-left-radius: 1rem;
}


$color-primary: #cec6c1;
$color-font-green: #00b96d;
$color-button-orange: #ff7b37;
$color-button-white: #FAF8F0;
$color-pink: #b06293;
$color-yellow: #e7d22b;
$color-border-grey: #d3d3d3;
$color-dark: #142727;

$font-bold: 'Lora';
$font-accent: 'Sacramento';
$font-basic: 'Raleway';

$page-width: 100rem;