@import '../../../app/variables.scss';

.main {
    @include page-layout;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
    padding-bottom: 4rem;

    .header-main {
        font-family: $font-accent;
        font-weight: 400;
        margin: 1rem;
        word-spacing: 1.5rem;
        font-size:5rem;
        color: $color-pink;
    }

}