@import '../../../app/variables.scss';

.main {
    @include page-layout;
    padding-top: 2rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .btn-back {
        align-self: flex-start;
    }

    .data-container {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-block {
            color: $color-pink;
            font-size: 1.1rem;
            font-family: $font-basic;
            font-weight: 400;
            margin: 3rem 0;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .inputs-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
        
                .btn-container {
                    align-self: flex-end;
                }
            }
        }
    }

}