@import '../../../../app/variables.scss';

.main {
    margin: 1rem;

    .header {
        @include statistics-header;
    }

    .workouts-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 8px 8px 20px -18px $color-dark;

        .workout-item {
            display: flex;
            flex-direction: column;
            font-size: 1.7rem;
            padding: 1rem;
    
            .image {
                align-self: center;
            }
    
            .date {
                @include statistics-date;
            }
        }
    }
}