@import '../../../app/variables.scss';

.container {
    display: flex;
    font-size: 1.4rem;
    font-family: $font-bold;
    margin: 2rem 0.2rem;
    color: $color-pink;
    width: 100%;
    height: 3.5rem;

    & .label {
        text-align: left;
        align-self: center;
        padding-right: 0.5rem;
    }

    & .input {
        padding: 0.3rem 0.6rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        accent-color: $color-button-orange;
        font-family: $font-basic;
        font-size: 2rem;
    }
}