@import '../../../app/variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    font-size: 1.7rem;
    border-bottom: 1px solid $color-border-grey;
    margin: 1rem 0;
    padding: 0 1rem;

    & .text {
    display: flex;

        & .name {
            text-transform: capitalize;
            margin-left: 0.3rem;
        }
    }


    & .numbers {
        align-self: flex-end;
        display: flex;
        color: $color-border-grey;
        gap: 0.7rem;

        & .amount {

        }
    
        & .measure {
            text-transform: lowercase;
        }
    }

}