@import '../../../app/variables.scss';

.main {
    @include page-layout;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-back {
        align-self: flex-start;
    }

    .header-block {
        color: $color-pink;
        font-size: 1.1rem;
        font-family: $font-basic;
        font-weight: 400;
        margin: 3rem 0;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputs-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            .btn-container {
                align-self: flex-end;
            }
        }
    }
}
