@import '../../../app/variables.scss';

.react-calendar {
    width: 700px;
    max-width: 100%;
    border: 1px solid #4a4a4a;
    font-size: 1.5rem;
    line-height: 1.125em;

    .highlight {
        outline: 0.5px solid rgb(112, 112, 112);
        background-color: $color-font-green;
        color: $color-primary;
    }
    
    .today {
        outline: 3px solid $color-button-orange;
        background-color: $color-button-white;
        color: black;
    }
    
    .selected {
        background-color: $color-pink !important;
        outline: 1px solid $color-dark;
    }
}