@import '../../../app/variables.scss';

.main {
    @include page-layout;
    padding-top: 15rem;
    padding-right: 10rem;

    & .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;

        & .logo {
            font-family: $font-accent;
            font-size: 13rem;
            line-height: 9.8rem;

            & .logo-first {
                color: $color-pink;
            }

            & .logo-second {
                color: $color-button-orange;
            }
        }

        .text {
            font-family: $font-accent;
            font-size: 6rem;
            line-height: 9.8rem;
            align-self: center;
            color: $color-dark;
            word-spacing: 1.7rem;
            opacity: 0.9;
        }

        & .button-container {
            width: 30rem;
            margin-left: 8.6rem;
            margin-top: 8rem;
            display: flex;

            & .signin-button {
                font-size: 2.4rem;
            }
        }
    }

    & .remark {
        color: $color-font-green;
        font-family: $font-basic;
        font-weight: 800;
        font-size: 2rem;
        margin: 3rem 0 0 3rem;
    }
}