@import '../../../../app/variables.scss';

.main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        @include statistics-header;
    }

    .table-container {
        @include dotted-borders;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 8px 8px 20px -18px $color-dark;

        .day-wrapper {
            align-self: flex-start;
            display: flex;
        
            .date {
                @include statistics-date;
                width: 10rem;
            }
        }
    }

    .summary {
        @include statistics-summary;
    }
}

