@import '../../../../app/variables.scss';

.meal-container {
    @include page-layout;
    border: 1px solid $color-border-grey;
    background-color: rgba(255, 255, 255, 0.187);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .btn-save {
        align-self: flex-end;
    }
}
