@import '../../../../app/variables.scss';

.info-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $color-border-grey;
    padding: 0.5rem;
    color: $color-dark;

    .label {
        color: $color-pink;
        width: 14rem;
        text-align: left;
        font-family: $font-bold;
    }
}
