@import '../../../../app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .header {
        @include statistics-header;
    }

    .diagram-wrapper {
        display: flex;
    
        .steps-diagram-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 1rem;
            padding: 0.5rem;
            box-shadow: 8px 8px 20px -18px $color-dark;

            .highest-amount {
                font-size: 1.5rem;
            }
        
            .steps-diagram-outter {
                width: 3.5rem;
                height: 20rem;
                background-color: $color-pink;
                display: flex;
                flex-direction: column-reverse;
                border-radius: 2rem;
                border: 0.1rem solid $color-dark;
                overflow: hidden;
        
                .steps-diagram-inner {
                    background-color: $color-font-green;
                    border-radius: 2rem;
        
                    .inner-steps {
                        padding-top: 1.1rem;
                        color: $color-dark;
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }
            }
            .steps-diagram-date {
                @include statistics-date;
            }
        }
    }

    .summary-wrapper{
        font-size: 1.5rem;
        @include statistics-summary;
    }

}




