@import '../../../../app/variables.scss';

.container {
    display: flex;
    font-size: 1.8rem;
    gap: 1rem;
    border: 1px solid $color-border-grey;
    box-shadow: 8px 8px 20px -18px $color-dark;
    background-color: $color-button-white;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    margin-bottom: 0.3rem;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    color: $color-dark;

    .description {
        flex-basis: 70%;
        padding: 1rem;
    }

    .vegetables {
        background-color: rgb(57, 173, 57);
    }

    .bakery {
        background-color: rgba(255, 183, 0, 0.783);
    }

    .sweets {
        background-color: rgba(234, 66, 19, 0.82);
    }

    .dairy {
        background-color: rgb(80, 80, 179);
    }

    .seafood {
        background-color: rgb(80, 179, 163);
    }

    .fruits {
        background-color: rgb(1, 172, 55);
    }

    .cereals {
        background-color: rgb(233, 222, 122);
    }

    .eggs {
        background-color: darkkhaki;
    }

    .makaroni {
        background-color: lightsalmon;
    }

    .desserts {
        background-color:firebrick;
    }

    .meat {
        background-color:rgba(229, 94, 139, 0.776);
    }

    .unknownCategory {
        background-color: rgb(130, 121, 121);
    }

    .category {
        flex-basis: 17rem;
        align-self: center;
        text-align: right;
        padding: 1rem;
        opacity: 0.88;
        color: $color-dark;
        font-weight: 600;
        font-family: $font-bold;
        border-left: 0.2rem solid $color-border-grey;
        border-left-style: dashed;
    }
}

.container-short {
    width: 30rem;
}